{% extends "base.html" %}
{% load movie_tags %}

{% block content %}


{% include "movies/inclusions/filter.html" %}

{% for movie in movies %}

<div class="container">
    <div class="row">
        <div class="col">
            {% include "movies/inclusions/about_movie.html" %}
        </div>
    </div>
    <div class="row">
        <div class="col-4"></div>
        <div class="col movie-desc-list">
            {{ movie.description|truncatechars:250 }}
        </div>
    </div><hr>
</div>

{% endfor %}


{% endblock content %}
