{% extends "base.html" %}
{% load movie_tags %}
{% load static %}


{% block content %}

<div class="container">
    {% include "movies/inclusions/about_movie.html" %}
    <div class="row">
        <div class="col">
            <div class="movie-desc my-3 mx-1">
                {{ movie.description }}<br>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col d-flex justify-content-center">
            <div class="videoplayer">
                <video
                id="my-video"
                class="video-js"
                controls
                preload="auto"
                width="854"
                height="480"
                poster="{% static "img/logo_player/universal-logo.webp" %}"
                data-setup="{}"
            >
                <source src="{{ movie.link_movie }}" type="application/vnd.apple.mpegurl">
                <p class="vjs-no-js">
                To view this video please enable JavaScript, and consider upgrading to a
                web browser that
                <a href="https://videojs.com/html5-video-support/" target="_blank"
                    >supports HTML5 video</a
                >
                </p>
                </video>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col mt-3 justify-content-end">
            {% include "movies/inclusions/rate.html" %}
        </div>
    </div>
    <div class="row">
        <div class="col mt-3 form-comment">
            <form method="post" name="comment">
                {% csrf_token %}
                <input type="hidden" value="{{movie.id}}" name="id_movie">
                <div class="row">
                    <div class="col mb-3">
                        <textarea class="form-control"
                        name="comment" id="id_comment" rows="5"
                        placeholder="Оставьте свой комментарий"
                        style="resize: none;"></textarea>
                    </div>
                </div>
                <button class="btn btn-secondary" type="submit">Отправить</button>
            </form>
        </div> 
    </div>
    <div class="row">
        <div class="col">
            {% show_comments movie %}
        </div>
    </div>
</div>

{% endblock content %}
