{% extends "base.html" %}
{% load movie_tags %}


{% block content %}

<div class="container">
    {% include "movies/inclusions/about_movie.html" %}
    <div class="row">
        <div class="col">
            <div class="movie-desc my-3 mx-1">
                {{ movie.description }}<br>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% include "movies/inclusions/rate.html" %}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form method="post" name="comment">
                {% csrf_token %}
                <input type="hidden" value="{{movie.id}}" name="id_movie">
                {{comment_form}}
                <button type="submit">Отправить</button>
            </form>
        </div> 
    </div>
    <div class="row">
        <div class="col">
                <video
                id="my-video"
                class="video-js"
                controls
                preload="auto"
                width="640"
                height="264"
                poster="MY_VIDEO_POSTER.jpg"
                data-setup="{}"
            >
                <source src="{{ movie.link_movie }}" type="application/vnd.apple.mpegurl">
                <p class="vjs-no-js">
                To view this video please enable JavaScript, and consider upgrading to a
                web browser that
                <a href="https://videojs.com/html5-video-support/" target="_blank"
                    >supports HTML5 video</a
                >
                </p>
            </video>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% show_comments movie %}
        </div>
    </div>
</div>

{% endblock content %}
