<div class="about-movie m-1">
    <div class="movie-header mb-2">                
        <div class="row">
            <div class="col-6">
                <div class="title-movie">
                    <span class="link-title-movie">
                        <a href="{% url "movies:movie_detail" slug=movie.slug %}">
                            {{ movie.title }} ({{ movie.year }})
                        </a>
                    </span>
                </div>
            </div>
            <div class="col-3"></div>
            <div class="col-3">
                Рейтинг {{ movie.calc_rate }}/10<br>
                <div class="count-vote">
                    {{ movie.count_vote }} голосов
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <img src="{{ movie.poster.url }}">
        </div>
        <div class="col-8">
            Год выпуска: <span class="link-tags">{{ movie.year }}</span><br>
            Страна: <span class="link-tags">{{ countries }}</span><br>
            Жанр: <span class="link-tags">{{ genres }}</span><br>
            Продолжительность: {{ movie.duration }} мин<br>

            <p>Качество: {{ movie.quality }}</p>

            Режиссёр: <span class="link-tags">{{ directors }}</span><br>
            Актёры: <span class="link-tags">{{ actors }}</span><br>
        </div>
    </div>
</div>